In [1]:
import pandas as pd
import numpy as np

In [17]:
rate = pd.read_csv('ratings.csv')
rate.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [18]:
groupmovie = rate.groupby('movieId').agg({'rating': [np.size, np.mean]})
groupmovie.head()

        rating
          size      mean
movieId
1        215.0  3.920930
2        110.0  3.431818
3         52.0  3.259615
4          7.0  2.357143
5         49.0  3.071429