<center><img src="HUBAnner.jpg"/>

<p><H1><center>CISC 680 SU 2019</center></H1>
<H2><center>Applied Artificial Intelligence Summer Camp</center></H2>
<H3><center>Lab Booklet #09</center>
<br><center>Lab Title: Classification Using Naive Bayes</center></H3>
<H4><center>Instructors:  Prof. Shalaan PhD, Prof. Grey M.S., Prof. Chu M.S.</center>
<br><center>TA's:  Aditya Syal, Bao Pham, Zach Pelkey</H4></center></p>

# Objectives
- Become familiar with cleaning a data set.
- Learn how to apply a Naïve Bayes classifier to a dataset.
- Learn how to apply some of the Sklearn methods to produce a trained classifier.
- Become familiar with analyzing performance metrics.

# Resources
- http://scikit-learn.org/stable/modules/classes.html#module-sklearn.naive_bayes

# Deliverables
#### Be sure to hand the following deliverables in to the Moodle Page:
<b><i>- This Jupyter Notebook with questions answered and associated programs written where asked.</i></b>

# Instructions & Questions
#### Feel free to change the header of this section, this will be where the student answers questions about code or inserts their own code blocks to answer specific questions about the lab.

### Background Information:
<p>We have extracted a data set in which we have various census information on adults in 1994. If you look in your <b>textX.txt</b> file that is found in the feedback files of your assignment on Moodle, you will see we have the following attributes and their data type/values respectively.</p>

- age: continuous. 
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked. 
- final weights: continuous. 
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool. 
- education-num: continuous. 
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse. 
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces. 
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried. 
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black. 
- sex: Female, Male. 
- capital-gain: continuous. 
- capital-loss: continuous. 
- hours-per-week: continuous. 
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

### Preprocessing:
Before we begin implementing our classifier, we need to take some time and get familiar with our data set. Make sure we understand what features are present, and how we want to clean the data before we proceed in building a model based on it. We will be preprocessing to build a model using a Naïve Bayes classifier.

<b>Import your dataset below and clean it as you see fit.</b>

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

df = pd.read_csv('text6.csv', header=None)

#df.columns["Age","Workclass","Final_weights","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","Income"]
#df.head()
#print("hello world")
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,43,Self-emp-inc,130126,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,45,United-States,>50K,37-47,43-100
1,40,Self-emp-not-inc,125206,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K,37-47,38-43
2,44,Local-gov,181344,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,38,United-States,>50K,37-47,0-38
3,41,Federal-gov,263339,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,>50K,37-47,38-43
4,19,Private,311974,HS-grad,9,Never-married,Craft-repair,Other-relative,White,Male,0,0,25,Mexico,<=50K,17-28,0-38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,36,Private,184112,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,15024,0,45,United-States,>50K,28-17,43-100
7996,43,Private,253759,Some-college,10,Married-civ-spouse,Tech-support,Wife,Black,Female,0,0,40,United-States,<=50K,37-47,38-43
7997,24,Private,241857,Some-college,10,Never-married,Adm-clerical,Not-in-family,Black,Female,0,0,35,United-States,<=50K,17-28,0-38
7998,27,Self-emp-inc,64379,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1740,40,United-States,<=50K,17-28,38-43
7999,41,Private,105616,Some-college,10,Widowed,Adm-clerical,Unmarried,Black,Female,0,0,48,United-States,<=50K,37-47,43-100

In [2]:
df=df.drop(df[df[1]==' ?'].index)
df=df.drop(df[df[6]==' ?'].index)
df=df.drop(df[df[15]==' ?'].index)
df=df.drop(df[df[3]==' ?'].index)
df=df.drop(df[df[5]==' ?'].index)
df=df.drop(df[df[7]==' ?'].index)
df=df.drop(df[df[8]==' ?'].index)
df=df.drop(df[df[9]==' ?'].index)
df=df.drop(df[df[16]==' ?'].index)
df=df.drop(df[df[13]==' ?'].index)
df=df.drop(df[df[14]==' ?'].index)
df=df.drop(df[df[10]==' ?'].index)

c:\users\shakz\appdata\local\programs\python\python36\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [3]:
to_drop = [0,12,2,
               4,
               11]

df.drop(to_drop, inplace=True, axis=1, errors='ignore')

df

,1,3,5,6,7,8,9,10,13,14,15,16
0,Self-emp-inc,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,United-States,>50K,37-47,43-100
1,Self-emp-not-inc,Prof-school,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,United-States,<=50K,37-47,38-43
2,Local-gov,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,United-States,>50K,37-47,0-38
3,Federal-gov,HS-grad,Married-civ-spouse,Transport-moving,Husband,White,Male,0,United-States,>50K,37-47,38-43
4,Private,HS-grad,Never-married,Craft-repair,Other-relative,White,Male,0,Mexico,<=50K,17-28,0-38
...,...,...,...,...,...,...,...,...,...,...,...,...
7995,Private,Prof-school,Married-civ-spouse,Prof-specialty,Wife,White,Female,15024,United-States,>50K,28-17,43-100
7996,Private,Some-college,Married-civ-spouse,Tech-support,Wife,Black,Female,0,United-States,<=50K,37-47,38-43
7997,Private,Some-college,Never-married,Adm-clerical,Not-in-family,Black,Female,0,United-States,<=50K,17-28,0-38
7998,Self-emp-inc,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,0,United-States,<=50K,17-28,38-43
7999,Private,Some-college,Widowed,Adm-clerical,Unmarried,Black,Female,0,United-States,<=50K,37-47,43-100

In [180]:
set(df[15])
set(df[16])
set(df[1])
set(df[3])
set(df[5])
set(df[6])
set(df[7])
set(df[8])
set(df[9])
set(df[13])
set(df[14])
set(df[10])
#input_labels = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

{0,
 114,
 401,
 594,
 914,
 991,
 1055,
 1151,
 1409,
 1471,
 1506,
 1797,
 1831,
 1848,
 2036,
 2050,
 2105,
 2174,
 2176,
 2202,
 2228,
 2290,
 2329,
 2346,
 2354,
 2407,
 2414,
 2463,
 2538,
 2580,
 2597,
 2635,
 2829,
 2885,
 2936,
 2964,
 2977,
 3103,
 3137,
 3273,
 3325,
 3411,
 3418,
 3456,
 3464,
 3471,
 3674,
 3781,
 3818,
 3887,
 3908,
 3942,
 4064,
 4101,
 4386,
 4416,
 4508,
 4650,
 4687,
 4787,
 4865,
 4934,
 5013,
 5060,
 5178,
 5455,
 5556,
 6097,
 6360,
 6418,
 6497,
 6849,
 7298,
 7443,
 7688,
 7896,
 8614,
 9386,
 9562,
 10520,
 10566,
 11678,
 13550,
 14084,
 14344,
 15024,
 20051,
 22040,
 25124,
 25236,
 27828,
 41310,
 99999}

In [181]:
encoder = preprocessing.LabelEncoder()


#encoder1.fit(df[1])
#encoder3.fit(df[3])
#encoder5.fit(df[5])
#encoder6.fit(df[6])
#encoder7.fit(df[7])
#encoder8.fit(df[8])
#encoder9.fit(df[9])
#encoder13.fit(df[13])
#encoder14.fit(df[14])
#encoder15.fit(df[15])
#encoder16.fit(df[16])
#print(encoder1.classes_)
#print(encoder3.classes_)
#print(encoder3.classes_)

In [182]:
df[1] = encoder.fit_transform(df[1])
df[3] = encoder.fit_transform(df[3])
df[5] = encoder.fit_transform(df[5])
df[6] = encoder.fit_transform(df[6])
df[7] = encoder.fit_transform(df[7])
df[8] = encoder.fit_transform(df[8])
df[9] = encoder.fit_transform(df[9])
df[13] = encoder.fit_transform(df[13])
df[14] = encoder.fit_transform(df[14])
df[15] = encoder.fit_transform(df[15])
df[16] = encoder.fit_transform(df[16])
df[10] = encoder.fit_transform(df[10])
df

      1   3   5   6   7   8   9   10  13  14  15  16
0      3  15   2   3   0   4   1  85  37   1   2   2
1      4  14   2   9   0   4   1   0  37   0   2   1
2      1  15   2   3   0   2   1   0  37   1   2   0
3      0  11   2  13   0   4   1   0  37   1   2   1
4      2  11   4   2   2   4   1   0  24   0   0   0
5      2   9   4   9   1   4   0  84  37   1   1   1
6      2  11   6  11   1   4   0   0  37   0   3   0
7      2  11   2   2   0   4   1   0  37   0   3   0
8      2  15   4   9   3   4   1   0  37   0   0   1
9      2  11   0  13   1   4   1   0  37   0   2   1
10     4  15   4   2   1   4   0   0  37   0   0   0
11     2  11   2   5   0   2   1   0  37   0   1   0
12     2   1   2   6   0   2   1   0  37   0   1   1
13     2   8   0  11   3   4   0   3  37   0   0   0
14     5  14   2   9   0   4   1  85  37   1   2   2
15     4   5   2   2   0   4   1   0  37   0   3   1
16     2   9   0   9   1   4   0   0  37   0   1   2
17     2  11   2   6   0   4   1   0  37   1   2   1
18     2   9   2   6   0   4   1   0  37   0   1   2
19     2  11   4   6   1   4   1   0  37   0   3   1
20     2  12   4   9   1   4   0   0  37   0   0   1
21     1   9   2   9   5   4   0   0  37   1   2   1
22     2  11   4   3   1   4   0   0  37   0   3   2
23     2   8   2   2   0   4   1  62  37   0   3   1
24     2   0   4   6   1   4   1   0  37   0   1   2
25     2  11   6   0   4   4   0   0  37   0   1   2
26     2  12   4  11   1   4   0   0  37   0   3   0
27     2   9   5  11   1   4   1   0  37   0   2   2
28     2  11   0   0   1   4   0   0   1   0   3   1
29     2  11   4   3   4   4   0   0   8   0   1   0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
7970   2  15   2  11   0   4   1   0  37   1   2   2
7971   3   1   2   2   0   4   1   0  37   1   0   2
7972   2   1   4  13   1   2   1   0  37   0   1   2
7973   2   9   4   0   1   4   0   0  37   0   0   1
7974   5  10   2   0   0   4   1   0  37   1   3   2
7975   2   5   0   5   1   4   1   0  37   0   2   2
7976   2   9   2  12   0   4   1   0  37   1   2   1
7977   4  11   2   3   0   4   1   0  26   0   0   1
7978   1   1   4   0   3   4   0   0  37   0   0   0
7979   2  15   2  10   0   4   1   0  37   0   3   1
7980   1  11   0   0   3   4   0   0   4   0   0   1
7981   3  15   2   3   0   4   1   0  37   1   1   0
7982   2  15   0   3   4   4   0   0  37   0   0   0
7983   2  15   4   0   3   4   0   0  37   0   0   0
7984   3  11   0   2   1   4   1   0  37   0   3   1
7985   2  11   0   6   1   4   1   0  37   0   1   1
7986   2   1   4   0   3   2   1   0  37   0   0   0
7987   1  15   0   3   1   0   0   0  37   0   3   1
7988   4   5   2   2   0   4   1   0  37   0   2   1
7989   2   7   4   0   3   4   1   0  37   0   0   0
7990   2   9   0   0   1   2   1   0  37   0   2   2
7991   5  15   2   3   5   4   0   0  37   1   2   1
7992   2  11   2  13   0   4   1   0  37   0   1   1
7993   2  11   5   0   1   4   1   0  37   1   1   2
7994   5  15   0   0   1   4   0   0  37   0   3   1
7995   2  14   2   9   5   4   0  85  37   1   1   2
7996   2  15   2  12   5   2   0   0  37   0   2   1
7997   2  15   4   0   1   2   0   0  37   0   0   0
7998   3  11   2   2   0   4   1   0  37   0   0   1
7999   2  15   6   0   4   2   0   0  37   0   2   2

[7391 rows x 12 columns]

In [183]:
y=df[14]
df=df.drop(df[14])


df.head()

   1   3   5   6   7   8   9   10  13  14  15  16
2   1  15   2   3   0   2   1   0  37   1   2   0
3   0  11   2  13   0   4   1   0  37   1   2   1
4   2  11   4   2   2   4   1   0  24   0   0   0
5   2   9   4   9   1   4   0  84  37   1   1   1
6   2  11   6  11   1   4   0   0  37   0   3   0

In [184]:
y=y[:-2]
#y

In [185]:
model=GaussianNB()
x_train,x_test,y_train,y_test=train_test_split(df,y,test_size=0.7)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print("Accuracy",metrics.accuracy_score(y_test,y_pred))

Accuracy 0.7544944906243959

In [186]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.75      1.00      0.86      3903
           1       0.00      0.00      0.00      1270

   micro avg       0.75      0.75      0.75      5173
   macro avg       0.38      0.50      0.43      5173
weighted avg       0.57      0.75      0.65      5173

C:\Users\Shakz\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [187]:
df.describe()

,1,3,5,6,7,8,9,10,13,14,15,16
count,7389.000000,7389.00000,7389.000000,7389.000000,7389.000000,7389.000000,7389.000000,7389.000000,7389.000000,7389.000000,7389.000000,7389.000000
mean,2.212072,10.32007,2.530789,5.895791,1.401678,3.664772,0.674110,5.292732,35.444986,0.244553,1.490053,1.076600
std,0.971486,3.82438,1.507976,4.071268,1.602474,0.844954,0.468738,18.727774,5.907504,0.429851,1.124885,0.708507
min,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,9.00000,2.000000,2.000000,0.000000,4.000000,0.000000,0.000000,37.000000,0.000000,0.000000,1.000000
50%,2.000000,11.00000,2.000000,6.000000,1.000000,4.000000,1.000000,0.000000,37.000000,0.000000,1.000000,1.000000
75%,2.000000,12.00000,4.000000,9.000000,3.000000,4.000000,1.000000,0.000000,37.000000,0.000000,3.000000,2.000000
max,6.000000,15.00000,6.000000,13.000000,5.000000,4.000000,1.000000,92.000000,39.000000,1.000000,3.000000,2.000000

1. Which features are important for your classifier? Justify your answer.

The classifier is based on Income.
Age is an important feature since after a certain age salary increases.
Workclass is important since certain government and other jobds are having high salary.
Occupation is important because cetain occupation are high salary
Classifier is maily based on income. So that should be definetely considered.
Sex is important because men are kinda of paid more than women(P.S. I support feminism, No offense!!!)
Race is important beacuse some races are cheap labour(P.S: I am no racist)
Native Country is important bacuse again, some degree from more recognized.
Maritial Status is important beacuse married men are sometimes paid more than single men.
Hours per week is directly proportional to income
Relationship is also an important factor bacause sometimes married men/women are paid more.

2. What are some aspects of the data that need to be cleaned?

Continous values need to be discretized. Missing values need to be cleaned(their rows need to be deleted). one other option is that missing values could input values from similar rows. Also some rows which are less proportion to the Income.

3. In which ways do you think we should clean this data? Explain which feature you cleaned and also how to cleaned it.

removed some colomns which were less important. removed the missing values. discretized continuios values. encoded the tables because string values are not acceptable

### Pick a Model & Implement the Model.
<p>It is important to know that there are different types of Naïve Bayes classifiers out there. Gaussian Naïve Bayes, Multinomial Naïve Bayes, and Bernoulli Naïve Bayes. These different types really explore the different distributions of your underlying dataset. You can explore which one would be the best fit for your model by following this link for background knowledge.

<b>Build a classifier that classifies a person’s income with the given features as greater than <i>\\$50,000.00</i> or less than <i>\\$50,000.00.</i></b></p>

In [55]:
# Write your code here!

1.	Which model best fits the preprocessed data that resulted from the “Preprocessing” section of this lab? Why?

 Gaussian gives the best model approximation for some processes. Gaussian model is very simple. its mean median and mode are the same. only two things are needed mean and variance.

### Validation Methodology & Justification
Once you have decided and preprocessed the dataset, you need to decide one the methodology of splitting the data for training and testing purposes.

### Validation Against Test Data and External Test Data
Once you are satisfied with your model, use it to cross validate on your own test data and also on the test data provided in the adult.test.data.txt file.

1. Validation Against Test Data and External Test Data Once you are satisfied with your model, use it to cross validate on your own test data and also on the test data provided in the adult.test.data.txt file.

In [198]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

ef = pd.read_csv('adult.test.data.csv', header=None)

#df.columns["Age","Workclass","Final_weights","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","Income"]
#df.head()
#print("hello world")
ef

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,59,Federal-gov,23789,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,0,0,40,United-States,>50K,50-85,0-40
1,20,Private,176321,Some-college,10,Never-married,Adm-clerical,Other-relative,White,Female,0,0,20,United-States,<=50K,0-30,0-40
2,40,Private,260425,Assoc-acdm,12,Separated,Tech-support,Unmarried,White,Female,1471,0,32,United-States,<=50K,30-50,0-40
3,47,Private,248059,Some-college,10,Married-civ-spouse,Other-service,Husband,White,Male,0,0,47,United-States,>50K,30-50,40-48
4,60,Private,56248,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K,50-85,0-40
5,55,Private,199763,HS-grad,9,Separated,Protective-serv,Not-in-family,White,Male,0,0,81,United-States,<=50K,50-85,40-89
6,18,Private,200047,12th,8,Never-married,Adm-clerical,Own-child,White,Male,0,0,35,United-States,<=50K,0-30,0-40
7,43,Private,191712,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,0,1741,40,United-States,<=50K,30-50,0-40
8,31,Self-emp-not-inc,156033,HS-grad,9,Divorced,Other-service,Not-in-family,White,Male,0,0,35,United-States,<=50K,30-50,0-40
9,22,Private,173736,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,50,United-States,<=50K,0-30,40-89
10,56,Private,135458,HS-grad,9,Divorced,Tech-support,Not-in-family,Black,Female,0,0,40,United-States,<=50K,50-85,0-40
11,41,Private,185660,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,30-50,0-40
12,24,Private,222005,HS-grad,9,Never-married,Other-service,Other-relative,White,Male,0,0,30,United-States,<=50K,0-30,0-40
13,42,Private,161510,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,7298,0,40,United-States,>50K,30-50,0-40
14,53,Local-gov,186303,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,1887,40,United-States,>50K,50-85,0-40
15,52,Local-gov,143533,7th-8th,4,Never-married,Other-service,Other-relative,Black,Female,0,0,40,United-States,<=50K,50-85,0-40
16,42,Private,288154,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,89,United-States,>50K,30-50,40-89
17,48,Private,325372,1st-4th,2,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Portugal,<=50K,30-50,0-40
18,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K,30-50,0-40
19,33,Private,168387,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K,30-50,0-40
20,20,Private,234640,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K,0-30,0-40
21,33,Private,232475,Some-college,10,Never-married,Sales,Own-child,White,Male,0,0,45,United-States,<=50K,30-50,40-48
22,30,Private,205152,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,0,40,United-States,<=50K,0-30,0-40
23,31,Private,112115,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K,30-50,0-40
24,29,Private,183854,HS-grad,9,Never-married,Sales,Not-in-family,White,Female,0,0,25,United-States,<=50K,0-30,0-40
25,26,Private,164386,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,48,United-States,<=50K,0-30,40-48
26,61,Private,149620,Some-college,10,Divorced,Other-service,Not-in-family,Black,Male,0,0,40,United-States,<=50K,50-85,0-40
27,29,Private,83742,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,0,45,United-States,<=50K,0-30,40-48
28,57,Self-emp-not-inc,65080,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,>50K,50-85,40-89
29,33,Private,191335,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1902,50,United-States,>50K,30-50,40-89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,32,Private,211349,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K,30-50,0-40
131,22,Private,203715,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K,0-30,0-40
132,31,Private,292592,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,<=50K,30-50,0-40
133,29,Private,125976,HS-grad,9,Separated,Sales,Unmarried,White,Female,0,0,35,United-States,<=50K,0-30,0-40
134,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,30-50,40-89
135,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K,50-85,40-89
136,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K,30-50,0-40
137,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K,0-30,0-40
138,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K,30-50,40-89
139,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K,0-30,40-48
140,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K,30-50,40-48
141,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K,30-50,0-40
142,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K,30-50,40-48
143,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K,30-50,0-40
144,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K,30-50,0-40
145,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K,30-50,0-40
146,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K,30-50,0-40
147,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K,50-85,40-89
148,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K,30-50,0-40
149,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K,30-50,40-89
150,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K,30-50,0-40
151,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K,30-50,40-48
152,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K,30-50,0-40
153,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,50-85,0-40
154,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K,0-30,0-40
155,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,0-30,0-40
156,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,30-50,0-40
157,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,50-85,0-40
158,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,0-30,0-40
159,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,50-85,0-40

In [199]:
ef=ef.drop(ef[ef[1]==' ?'].index)
ef=ef.drop(ef[ef[6]==' ?'].index)
ef=ef.drop(ef[ef[15]==' ?'].index)
ef=ef.drop(ef[ef[3]==' ?'].index)
ef=ef.drop(ef[ef[5]==' ?'].index)
ef=ef.drop(ef[ef[7]==' ?'].index)
ef=ef.drop(ef[ef[8]==' ?'].index)
ef=ef.drop(ef[ef[9]==' ?'].index)
ef=ef.drop(ef[ef[16]==' ?'].index)
ef=ef.drop(ef[ef[13]==' ?'].index)
ef=ef.drop(ef[ef[14]==' ?'].index)
#ef=ef.drop(ef[ef[10]==' ?'].index)
ef.describe()

,0,2,4,10,11,12
count,160.000000,160.000000,160.000000,160.000000,160.00000,160.000000
mean,39.243750,186761.812500,9.887500,1091.500000,84.65625,41.712500
std,13.428472,94947.152928,2.850549,8190.269178,377.49962,12.039446
min,17.000000,23789.000000,1.000000,0.000000,0.00000,3.000000
25%,30.000000,120940.500000,9.000000,0.000000,0.00000,40.000000
50%,36.500000,181444.000000,10.000000,0.000000,0.00000,40.000000
75%,50.000000,236724.250000,12.000000,0.000000,0.00000,48.000000
max,85.000000,514716.000000,16.000000,99999.000000,1977.00000,89.000000

In [200]:
to_drop = [0,12,2,10,
               4,
               11]

ef.drop(to_drop, inplace=True, axis=1, errors='ignore')

ef

,1,3,5,6,7,8,9,13,14,15,16
0,Federal-gov,HS-grad,Married-civ-spouse,Sales,Wife,White,Female,United-States,>50K,50-85,0-40
1,Private,Some-college,Never-married,Adm-clerical,Other-relative,White,Female,United-States,<=50K,0-30,0-40
2,Private,Assoc-acdm,Separated,Tech-support,Unmarried,White,Female,United-States,<=50K,30-50,0-40
3,Private,Some-college,Married-civ-spouse,Other-service,Husband,White,Male,United-States,>50K,30-50,40-48
4,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,United-States,<=50K,50-85,0-40
5,Private,HS-grad,Separated,Protective-serv,Not-in-family,White,Male,United-States,<=50K,50-85,40-89
6,Private,12th,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K,0-30,0-40
7,Private,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K,30-50,0-40
8,Self-emp-not-inc,HS-grad,Divorced,Other-service,Not-in-family,White,Male,United-States,<=50K,30-50,0-40
9,Private,HS-grad,Never-married,Craft-repair,Not-in-family,White,Male,United-States,<=50K,0-30,40-89
10,Private,HS-grad,Divorced,Tech-support,Not-in-family,Black,Female,United-States,<=50K,50-85,0-40
11,Private,HS-grad,Separated,Adm-clerical,Unmarried,White,Female,United-States,<=50K,30-50,0-40
12,Private,HS-grad,Never-married,Other-service,Other-relative,White,Male,United-States,<=50K,0-30,0-40
13,Private,Bachelors,Married-civ-spouse,Sales,Husband,White,Male,United-States,>50K,30-50,0-40
14,Local-gov,Some-college,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K,50-85,0-40
15,Local-gov,7th-8th,Never-married,Other-service,Other-relative,Black,Female,United-States,<=50K,50-85,0-40
16,Private,Some-college,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,>50K,30-50,40-89
17,Private,1st-4th,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,Portugal,<=50K,30-50,0-40
18,Private,HS-grad,Divorced,Other-service,Not-in-family,White,Female,United-States,<=50K,30-50,0-40
19,Private,11th,Married-civ-spouse,Other-service,Husband,White,Male,United-States,<=50K,30-50,0-40
20,Private,Some-college,Never-married,Adm-clerical,Own-child,White,Female,United-States,<=50K,0-30,0-40
21,Private,Some-college,Never-married,Sales,Own-child,White,Male,United-States,<=50K,30-50,40-48
22,Private,Bachelors,Never-married,Sales,Not-in-family,White,Male,United-States,<=50K,0-30,0-40
23,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,United-States,<=50K,30-50,0-40
24,Private,HS-grad,Never-married,Sales,Not-in-family,White,Female,United-States,<=50K,0-30,0-40
25,Private,HS-grad,Never-married,Craft-repair,Own-child,White,Male,United-States,<=50K,0-30,40-48
26,Private,Some-college,Divorced,Other-service,Not-in-family,Black,Male,United-States,<=50K,50-85,0-40
27,Private,HS-grad,Divorced,Other-service,Unmarried,White,Female,United-States,<=50K,0-30,40-48
28,Self-emp-not-inc,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,>50K,50-85,40-89
29,Private,Assoc-acdm,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,>50K,30-50,40-89
...,...,...,...,...,...,...,...,...,...,...,...
130,Private,10th,Married-civ-spouse,Transport-moving,Husband,White,Male,United-States,<=50K,30-50,0-40
131,Private,Some-college,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K,0-30,0-40
132,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,United-States,<=50K,30-50,0-40
133,Private,HS-grad,Separated,Sales,Unmarried,White,Female,United-States,<=50K,0-30,0-40
134,Private,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,>50K,30-50,40-89
135,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,Japan,>50K,50-85,40-89
136,Private,Some-college,Divorced,Adm-clerical,Unmarried,White,Female,United-States,<=50K,30-50,0-40
137,Private,12th,Never-married,Protective-serv,Own-child,Black,Male,United-States,<=50K,0-30,0-40
138,Private,Bachelors,Never-married,Exec-managerial,Not-in-family,White,Female,United-States,>50K,30-50,40-89
139,Private,HS-grad,Never-married,Craft-repair,Not-in-family,Black,Male,United-States,<=50K,0-30,40-48
140,Private,Bachelors,Divorced,Prof-specialty,Unmarried,Black,Female,United-States,>50K,30-50,40-48
141,State-gov,HS-grad,Separated,Adm-clerical,Own-child,White,Female,United-States,<=50K,30-50,0-40
142,Local-gov,Assoc-acdm,Divorced,Prof-specialty,Unmarried,White,Female,United-States,<=50K,30-50,40-48
143,Private,Masters,Divorced,Other-service,Not-in-family,Other,Female,United-States,<=50K,30-50,0-40
144,Local-gov,Assoc-acdm,Married-civ-spouse,Adm-clerical,Wife,White,Female,United-States,>50K,30-50,0-40
145,Private,Assoc-acdm,Divorced,Tech-support,Not-in-family,White,Female,United-States,<=50K,30-50,0-40
146,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,Mexico,<=50K,30-50,0-40
147,Self-emp-not-inc,Prof-school,Never-married,Prof-specialty,Not-in-family,White,Male,United-States,<=50K,50-85,40-89
148,State-gov,Some-college,Divorced,Adm-clerical,Other-relative,White,Female,United-States,<=50K,30-50,0-40
149,Self-emp-not-inc,Some-college,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,<=50K,30-50,40-89
150,Private,10th,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,United-States,<=50K,30-50,0-40
151,Private,Assoc-voc,Married-civ-spouse,Sales,Husband,White,Male,United-States,<=50K,30-50,40-48
152,Private,Masters,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,Taiwan,<=50K,30-50,0-40
153,Private,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K,50-85,0-40
154,Private,Some-college,Never-married,Protective-serv,Not-in-family,White,Male,United-States,<=50K,0-30,0-40
155,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K,0-30,0-40
156,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K,30-50,0-40
157,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K,50-85,0-40
158,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K,0-30,0-40
159,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K,50-85,0-40

In [201]:
set(ef[16])
set(ef[15])
set(ef[1])
set(ef[3])
set(ef[5])
set(ef[6])
set(ef[7])
set(ef[8])
set(ef[9])
set(ef[13])
set(ef[14])
#set(ef[10])
#input_labels = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15e

{' <=50K', ' >50K'}

In [202]:
encoder = preprocessing.LabelEncoder()

In [203]:
ef[1] = encoder.fit_transform(ef[1])
ef[3] = encoder.fit_transform(ef[3])
ef[5] = encoder.fit_transform(ef[5])
ef[6] = encoder.fit_transform(ef[6])
ef[7] = encoder.fit_transform(ef[7])
ef[8] = encoder.fit_transform(ef[8])
ef[9] = encoder.fit_transform(ef[9])
ef[13] = encoder.fit_transform(ef[13])
ef[14] = encoder.fit_transform(ef[14])
ef[15] = encoder.fit_transform(ef[15])
ef[16] = encoder.fit_transform(ef[16])





ef

     1   3   5   6   7   8   9   13  14  15  16
0     0  10   1   9   5   4   0   8   1   2   0
1     2  14   3   0   2   4   0   8   0   0   0
2     2   6   4  10   4   4   0   8   0   1   0
3     2  14   1   6   0   4   1   8   1   1   1
4     2  14   1   9   0   4   1   8   0   2   0
5     2  10   4   8   1   4   1   8   0   2   2
6     2   2   3   0   3   4   1   8   0   0   0
7     2   8   3   0   1   4   1   8   0   1   0
8     4  10   0   6   1   4   1   8   0   1   0
9     2  10   3   1   1   4   1   8   0   0   2
10    2  10   0  10   1   2   0   8   0   2   0
11    2  10   4   0   4   4   0   8   0   1   0
12    2  10   3   6   2   4   1   8   0   0   0
13    2   8   1   9   0   4   1   8   1   1   0
14    1  14   1   8   0   4   1   8   1   2   0
15    1   4   3   6   2   2   0   8   0   2   0
16    2  14   1   1   0   4   1   8   1   1   2
17    2   3   1   5   0   4   1   6   0   1   0
18    2  10   0   6   1   4   0   8   0   1   0
19    2   1   1   6   0   4   1   8   0   1   0
20    2  14   3   0   3   4   0   8   0   0   0
21    2  14   3   9   3   4   1   8   0   1   1
22    2   8   3   9   1   4   1   8   0   0   0
23    2  14   1   9   0   4   1   8   0   1   0
24    2  10   3   9   1   4   0   8   0   0   0
25    2  10   3   1   3   4   1   8   0   0   1
26    2  14   0   6   1   2   1   8   0   2   0
27    2  10   0   6   4   4   0   8   0   0   1
28    4  10   1   1   0   4   1   8   1   2   2
29    2   6   1   1   0   4   1   8   1   1   2
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
130   2   0   1  11   0   4   1   8   0   1   0
131   2  14   3   0   3   4   1   8   0   0   0
132   2  10   1   5   5   4   0   8   0   1   0
133   2  10   4   9   4   4   0   8   0   0   0
134   2   9   1   7   0   4   1   8   1   1   2
135   2   8   1   2   0   1   1   2   1   2   2
136   2  14   0   0   4   4   0   8   0   1   0
137   2   2   3   8   3   2   1   8   0   0   0
138   2   8   3   2   1   4   0   8   1   1   2
139   2  10   3   1   1   2   1   8   0   0   1
140   2   8   0   7   4   2   0   8   1   1   1
141   5  10   4   0   3   4   0   8   0   1   0
142   1   6   0   7   4   4   0   8   0   1   1
143   2  11   0   6   1   3   0   8   0   1   0
144   1   6   1   0   5   4   0   8   1   1   0
145   2   6   0  10   1   4   0   8   0   1   0
146   2  10   1   5   0   4   1   3   0   1   0
147   4  13   3   7   1   4   1   8   0   2   2
148   5  14   0   0   2   4   0   8   0   1   0
149   4  14   1   1   0   4   1   8   0   1   2
150   2   0   1   4   0   0   1   8   0   1   0
151   2   7   1   9   0   4   1   8   0   1   1
152   2  11   3  10   1   1   1   7   0   1   0
153   2  11   1   2   0   4   1   8   1   2   0
154   2  14   3   8   1   4   1   8   0   0   0
155   2   6   1  10   5   4   0   8   0   0   0
156   2  10   1   5   0   4   1   8   1   1   0
157   2  10   5   0   4   4   0   8   0   2   0
158   2  10   3   0   3   4   1   8   0   0   0
159   3  10   1   2   5   4   0   8   1   2   0

[160 rows x 11 columns]

In [204]:
ef.describe()

,1,3,5,6,7,8,9,13,14,15,16
count,160.000000,160.000000,160.00000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000
mean,2.106250,8.981250,1.67500,4.775000,1.550000,3.593750,0.606250,7.712500,0.218750,0.950000,0.593750
std,0.781845,3.881049,1.36695,3.464011,1.692752,0.913194,0.490115,1.230572,0.414697,0.716385,0.841509
min,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,7.000000,1.00000,1.000000,0.000000,4.000000,0.000000,8.000000,0.000000,0.000000,0.000000
50%,2.000000,10.000000,1.00000,5.000000,1.000000,4.000000,1.000000,8.000000,0.000000,1.000000,0.000000
75%,2.000000,11.000000,3.00000,7.000000,3.000000,4.000000,1.000000,8.000000,0.000000,1.000000,1.000000
max,5.000000,14.000000,5.00000,11.000000,5.000000,4.000000,1.000000,8.000000,1.000000,2.000000,2.000000

In [205]:
y=ef[14]
ef=ef.drop(ef[14])
ef.head()

   1   3   5   6   7   8   9   13  14  15  16
2   2   6   4  10   4   4   0   8   0   1   0
3   2  14   1   6   0   4   1   8   1   1   1
4   2  14   1   9   0   4   1   8   0   2   0
5   2  10   4   8   1   4   1   8   0   2   2
6   2   2   3   0   3   4   1   8   0   0   0

In [206]:
y=y[:-2]

In [207]:
#model=GaussianNB()
#x_train,x_test,y_train,y_test=train_test_split(df,y,test_size=0.7)
model.fit(ef,y)
y_pred=model.predict(y)
print("Accuracy",metrics.accuracy_score(y,y_pred))

ValueError: Expected 2D array, got 1D array instead:
array=[1 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 1
 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 0
 0 0 0 0 0 1 0 0 1 0].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

2. Do you think your classifier performed well on the external test data? What are the metrics used and how do you interpret them?